altgraph==0.17.4
blinker==1.9.0
bottle==0.13.4
click==8.2.1
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
macholib==1.16.3
MarkupSafe==3.0.2
packaging==25.0
pillow==11.3.0
proxy_tools==0.1.0
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.7
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-Quartz==11.1
pyobjc-framework-Security==11.1
pyobjc-framework-WebKit==11.1
python-dotenv==1.1.1
pywebview==5.4
PyYAML==6.0.2
typing_extensions==4.14.1
watchdog==6.0.0
Werkzeug==3.1.3





